/*Open Sans*/
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans/open-sans-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/opensans/open-sans-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/open-sans-v20-latin-regular.woff2") format("woff2"), url("../fonts/opensans/open-sans-v20-latin-regular.woff") format("woff"), url("../fonts/opensans/open-sans-v20-latin-regular.ttf") format("truetype"), url("../fonts/opensans/open-sans-v20-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/opensans/open-sans-v20-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/opensans/open-sans-v20-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/open-sans-v20-latin-italic.woff2") format("woff2"), url("../fonts/opensans/open-sans-v20-latin-italic.woff") format("woff"), url("../fonts/opensans/open-sans-v20-latin-italic.ttf") format("truetype"), url("../fonts/opensans/open-sans-v20-latin-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/*Gotham*/
/* GhotamBook */
@font-face {
  font-family: "GothamBook";
  font-style: normal;
  font-weight: 350;
  src: url("../fonts/gothambook/GothamBook.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/gothambook/GothamBook.eot?#iefix") format("embedded-opentype"), url("../fonts/gothambook/GothamBook.woff") format("woff"), url("../fonts/gothambook/GothamBook.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/*GothamBold*/
@font-face {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gothambold/gothambold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/gothambold/gothambold.eot?#iefix") format("embedded-opentype"), url("../fonts/gothambold/gothambold.woff") format("woff"), url("../fonts/gothambold/gothambold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/*GothamMedium*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/gothammedium/gotham-medium-webfont.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/gothammedium/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothammedium/gotham-medium-webfont.woff2") format("woff2"), url("../fonts/gothammedium/gotham-medium-webfont.woff") format("woff"), url("../fonts/gothammedium/gotham-medium-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.footer-container {
  max-width: 770px;
  width: 90%;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  font-family: "GothamBold", sans-serif;
  color: inherit;
  font-size: 2.75rem;
  padding-top: 0.7em;
  position: relative;
  text-align: center;
}
.title::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

.btn {
  display: block;
  width: 11.875rem;
  font-family: "GothamBook", sans-serif;
  font-size: 0.875rem;
  padding: 1.25em 1em;
  color: inherit;
  background-color: transparent;
  border: 1px solid;
  box-shadow: 1px 1px 2px transparent;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  transition: box-shadow 0.25s, color 0.2s, background-color 0.2s;
  cursor: pointer;
}
.btn:hover {
  background-color: #2c4058;
  color: #fff;
}
.btn:focus, .btn:focus-visible {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.header {
  position: relative;
  color: white;
}
.header__logo {
  color: inherit;
}
.header__home-link {
  color: inherit;
}
.header__logo-icon {
  fill: currentColor;
}
.header__title {
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__header {
  display: none;
}
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  flex: 0 1 596px;
  padding: 0 8px;
}
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  position: relative;
}
.header__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  top: 150%;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.25s;
}
.header__link:hover::after {
  transform: scaleX(1);
}
.header__anchor {
  text-transform: uppercase;
  vertical-align: middle;
  font-family: "GothamBook", sans-serif;
  font-size: 14px;
  color: inherit;
}
.header__link-indicator {
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  margin-right: 14px;
  border: 1px solid currentColor;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.25s;
}
.header__link:hover .header__link-indicator, .header__anchor:focus .header__link-indicator, .header__anchor:focus-visible .header__link-indicator {
  background-color: currentColor;
}
.header__socials {
  flex: 0 1 160px;
}
.header__slider {
  margin: 0;
}
.header__scrollDown {
  position: absolute;
  margin: auto;
  bottom: 50px;
  left: 0;
  right: 0;
  height: 40px;
  width: 40px;
  text-align: center;
}

.icon:hover .icon__circle {
  background-color: rgba(255, 255, 255, 0.35);
}
.icon__circle {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.icon__arrow {
  position: absolute;
  margin: auto;
  height: 8px;
  width: 8px;
  border-right: 1.5px solid white;
  border-bottom: 1.5px solid white;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.social__item {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.social__item--twitter > .social__link:hover, .social__item--twitter > .social__link:active {
  background-color: #fff;
  color: #41abe1;
}
.social__item--facebook > .social__link:hover, .social__item--facebook > .social__link:active {
  background-color: #1878f3;
  color: white;
}
.social__item--instagram > .social__link:hover, .social__item--instagram > .social__link:active {
  background-color: #7c3da8;
  color: #fff;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}
.social__link:hover {
  background-color: red;
  color: white;
}
.social__link:focus, .social__link:focus-visible {
  outline: none;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.45);
}
.social__icon {
  height: 16px;
  display: inline;
}

.slider-upDown {
  position: relative;
  margin: 0 !important;
}
.slider-upDown__dots {
  position: absolute;
  right: 40px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 9px;
}
.slider-upDown__dots [role=presentation] {
  margin: 0 0 40px;
}
.slider-upDown__dots [role=presentation]:last-child {
  margin: 0;
}
.slider-upDown__dots [role=presentation] [role=tab] {
  color: inherit;
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  font-size: 0;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
}
.slider-upDown__dots [role=presentation].slick-active [role=tab] {
  background-color: currentColor;
}
.slider-upDown .slider-upDown__slide {
  text-align: center;
  min-height: 100vh;
  padding: 0 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: top center;
  background-size: cover;
}
.slider-upDown__title {
  text-transform: uppercase;
  font-family: "GothamBold", sans-serif;
  font-size: 5rem;
  margin-bottom: 20px;
  letter-spacing: 4px;
}
.slider-upDown__description {
  text-transform: uppercase;
  font-family: "GothamBook", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 5.4px;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 70px;
}
.project-card__picture {
  flex: 0 1 630px;
  position: relative;
  font-size: 0;
}
.project-card__picture::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: currentColor;
  z-index: 1;
  top: -14.8936170213%;
  right: 41.5%;
}
.project-card__img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.project-card__img img {
  width: 100%;
}
.project-card__description {
  color: #2c4058;
  flex: 0 1 470px;
  margin-left: 10px;
  margin-top: -10px;
}
.project-card__subtitle {
  text-transform: uppercase;
  font-family: "GothamBook", sans-serif;
  font-size: 1.375rem;
  margin-bottom: 4px;
}
.project-card__title {
  text-transform: uppercase;
  font-family: "GothamBold", sans-serif;
  font-size: 2.75rem;
  margin-bottom: 21px;
}
.project-card__text-description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.7em;
  letter-spacing: 0.145px;
  margin-bottom: 32px;
}
.project-card__btn {
  margin-bottom: 54px;
}
.project-card__adress {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.85px;
}
.project-card__location-icon {
  height: 1em;
  display: inline;
  margin-right: 5px;
}
.project-card--inverse {
  flex-direction: row-reverse;
}
.project-card--inverse .project-card__picture:before {
  right: auto;
  left: 41.5%;
}
.project-card--inverse .project-card__description {
  margin-left: 0;
  margin-right: 10px;
}

.projects {
  padding: 100px 0 140px;
  overflow-X: hidden;
}
.projects__header {
  margin-bottom: 91px;
  color: #2c4058;
}
.projects__project0 {
  color: #55b7ff;
  margin-bottom: 140px;
}
.projects__project1 {
  color: #7e5aff;
}

.card {
  margin: 15px;
  background-color: #fff;
}
.card__image {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}
.card__image::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 64.8648648649%;
}
.card__pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.card__description {
  padding: 0 18px 20px;
}
.card__title {
  text-transform: uppercase;
  font-family: "GothamBold", sans-serif;
  font-size: 1.375rem;
  line-height: 1.5em;
  color: #2c4058;
  margin-bottom: 5px;
}
.card__text-description {
  color: #4b5562;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  overflow: hidden;
  line-height: 1.5em;
  margin-bottom: 40px;
}
.card__author-date {
  display: flex;
}
.card__avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.card__author-image {
  width: 100%;
}
.card__name-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "GothamBook", sans-serif;
}
.card__author-name {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 13px;
  color: #2c4058;
}
.card__date {
  color: #55b7ff;
  font-size: 0.875rem;
}

.news {
  padding: 140px 0;
  background: #3e80d4;
  background: linear-gradient(45deg, #3e80d4 0%, #24ccfa 100%);
}
.news__header {
  color: #fff;
  margin-bottom: 100px;
}
.news__slider.horisontal-slider {
  color: #fff;
  margin-bottom: 0;
}

.horisontal-slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.horisontal-slider__dots [role=presentation] {
  width: 9px;
  height: 9px;
  margin-left: 40px;
}
.horisontal-slider__dots [role=presentation]:first-child {
  margin: 0;
}
.horisontal-slider__dots [role=presentation].slick-active [role=tab] {
  background-color: currentColor;
}
.horisontal-slider__dots [role=tab] {
  color: inherit;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  font-size: 0;
  border: 1px solid currentColor;
  background-color: transparent;
}
.horisontal-slider__prev, .horisontal-slider__next {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.horisontal-slider__prev {
  left: -5.1282051282%;
  transform: rotate(90deg);
}
.horisontal-slider__next {
  right: -5.1282051282%;
  transform: rotate(-90deg);
}

.galery {
  color: #2c4058;
  padding: 140px 0;
}
.galery__header {
  margin-bottom: 100px;
}
.galery__galery {
  margin-bottom: 60px;
}
.galery__btn {
  margin: 0 auto;
}

.photo-galery {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.photo-galery__item, .photo-galery__image {
  flex: 0 1 calc(50% - 5px);
  overflow: hidden;
}
.photo-galery__picture {
  width: 100%;
}
.photo-galery__picture img {
  width: 100%;
}
.photo-galery__sub-galery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.contacts {
  color: #2c4058;
  font-family: "GothamBook", sans-serif;
}
.contacts__map {
  width: 100%;
  height: 700px;
}
.contacts__form {
  position: relative;
  z-index: 5;
  padding: 60px 60px 80px;
  background: url("../img/form-bg/background.jpg"), #fff;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  margin-top: -300px;
  margin-bottom: -248px;
}
@media screen and (max-width: 860px) {
  .contacts__form {
    margin: 0;
  }
}
.contacts__title {
  margin-bottom: 60px;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__contacts {
  width: 100%;
  margin-right: 15px;
}
.contacts__contact {
  font-size: 1.125rem;
  margin-bottom: 45px;
}
.contacts__contact a {
  color: inherit;
}
.contacts__icon {
  display: inline;
  height: 1em;
  color: #7e5aff;
}
.contacts__inputs {
  width: 100%;
  margin-left: 15px;
}
.contacts__input {
  color: #2c4058;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(44, 64, 88, 0.6);
  font-size: 1.125rem;
  padding: 1.25rem 0;
  transition: border-color 0.25s;
  margin-bottom: 30px;
}
.contacts__input:focus, .contacts__input:focus-visible {
  border-color: #2c4058;
}
.contacts__btn {
  margin: 0 0 0 auto;
}

.footer {
  background: #3e80d4;
  background: linear-gradient(45deg, #3e80d4 0%, #24ccfa 100%);
  padding: 295px 0 210px;
  color: #fff;
  font-family: "GothamBook", "Arial", sans-serif;
}
.footer__wrapper {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer__logo-icon {
  fill: #fff;
}
.footer__socials {
  flex: 0 1 160px;
}
.footer__copiright {
  font-size: 0.875rem;
  vertical-align: middle;
}
.footer__pipeline {
  font-size: 20px;
  margin: 0 20px;
}
/*# sourceMappingURL=maps/style.css.map */
