.container {
    max-width: $container-width;
    width: 90%;
    margin: 0 auto;
}

.footer-container {
    max-width: 770px;
    width: 90%;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
    font-family: "GothamBold", sans-serif;
    color: inherit;
    font-size: 44 / 16 * 1rem;
    padding-top: 0.7em;
    position: relative;
    text-align: center;

    &::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: currentColor;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
    }
}

.btn {
    display: block;
    width: 190 / 16 * 1rem;
    font-family: "GothamBook", sans-serif;
    font-size: 14 / 16 * 1rem;
    padding: 1.25em 1em;
    color: inherit;
    background-color: transparent;
    border: 1px solid;
    box-shadow: 1px 1px 2px transparent;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    transition: box-shadow 0.25s, color 0.2s, background-color 0.2s;
    cursor: pointer;
    
    &:hover {
        background-color: $text-dark-blue;
        color: #fff;
    }
    
    &:focus,
    &:focus-visible {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
}
